.project-header {
  background-color: var(--header-bg);
  height: var(--header-height);
  width: 100%;
  position: relative;

  span.header-title {
    color: var(--off-white);
    font-weight: 600;
    margin: 0;
    font-size: 18px;
    position: absolute;
    float: left;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 105px;
  }

  .header-vid-icon {
    position: absolute;
    width: 30px;
    top: 50%;
    transform: translateY(-50%);
    left: 50px;
  }
}
